<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="chandrika" content="O. Chandrika">
    <link rel="icon" href="favicon.ico">
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.2/cerulean/bootstrap.min.css" rel="stylesheet" integrity="sha384-EmRcsPP774S9MOi4ywB+JXUWjYnBdyInMzG2XsC5siZEUpexqxOMJW358dCYEjPu" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/master.css}">
    <title>Students</title>
</head>
<body>
<!-- Add Bootstrap classes to style your table -->
<table class="table table-striped">
    <thead class="thead-dark">
    <tr>
        <th>Student Number</th>
        <th>First Name</th>
        <th>Middle Name</th>
        <th>Last Name</th>
        <th>CGPA</th>
        <th>Enrollment Date</th>
        <th>International</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <!-- Iterate through the list of students and display them here -->
    </tbody>
</table>

</body>
</html>