<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="">
  <meta name="chandrika" content="O. Chandrika">
  <link rel="icon" href="favicon.ico">
  <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.2/cerulean/bootstrap.min.css" rel="stylesheet" integrity="sha384-EmRcsPP774S9MOi4ywB+JXUWjYnBdyInMzG2XsC5siZEUpexqxOMJW358dCYEjPu" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" th:href="@{/css/master.css}">
  <title>Student Registration System</title>
</head>
<body>
<header>
  <h1>Welcome to Student Registration</h1>
  <nav>
    <ul>
      <li><a th:href="@{/}">Home</a></li>
      <li><a th:href="@{/register}">Register New Student</a></li>
    </ul>
  </nav>
</header>

<div class="container">
  <section th:fragment="content">
    <p>This is the default content.</p>
  </section>
</div>

<footer>
  <p>&copy; 2023 Student Registration System</p>
</footer>
</body>
</html>
